HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

!.mvn/**

src/test/**
.mvn/**
mvnw
mvnw.cmd
Dockerfile
docker-compose.yml
src/main/resources/META-INF/**

### properties ###
src/main/resources/application.properties


src/main/webapp/assets/**
src/main/webapp/css_chat/**
src/main/webapp/images/**
src/main/webapp/webfonts/**



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
