#bgr_html {
  /* font: 5vmin/1.3 Serif; */
  overflow: hidden;
  background: transparent;
}

#bgr_body {
  display: block;
  font-size: 52px; 
  color: transparent;
}

/* head::before, head::after, */
#bgr_body::before, #bgr_body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

#bgr_body::before {
  text-shadow: 0.748871768em 0.8973087018em 7px
   rgba(255, 169, 0, 0.9), 2.1314053107em -0.4194990479em 7px
    rgba(0, 255, 32, 0.9), -0.3645915954em 0.7407391863em 7px
     rgba(0, 24, 255, 0.9), 0.971373212em 1.8588047284em 7px
      rgba(255, 128, 0, 0.9), 1.373310303em 0.6884546055em 7px
       rgba(0, 255, 184, 0.9), 1.7275558775em 0.3500469365em 7px
        rgba(255, 0, 251, 0.9), -0.3463474835em 1.0015779816em 7px
         rgba(255, 0, 51, 0.9), 1.6554831568em 1.4249219505em 7px
          rgba(0, 151, 255, 0.9), -0.3765825337em -0.3714515327em 7px
           rgba(0, 255, 156, 0.9), 0.7873090622em 1.4459936535em 7px
            rgba(0, 75, 255, 0.9), 1.6730627904em -0.0017689272em 7px
             rgba(0, 49, 255, 0.9), 2.1990298382em 0.8632585488em 7px
              rgba(0, 255, 121, 0.9), 1.6364333645em 1.8189646369em 7px
               rgba(255, 0, 15, 0.9), 1.6219697785em -0.1769735833em 7px
                rgba(156, 255, 0, 0.9), 0.5637170595em 0.7897083981em 7px
                 rgba(255, 151, 0, 0.9), 1.3448640995em 0.2278548696em 7px
                  rgba(255, 62, 0, 0.9), 1.7813031546em 0.1104221301em 7px
                   rgba(237, 255, 0, 0.9), -0.2334670809em 0.8208664522em 7px
                    rgba(255, 0, 244, 0.9), -0.4094945339em 1.7982572605em 7px
                     rgba(0, 255, 40, 0.9), 1.7088799986em 1.4546867405em 7px
                      rgba(0, 183, 255, 0.9), -0.1838694031em 0.4861219299em 7px
                       rgba(255, 0, 180, 0.9), 2.439641467em -0.3078619083em 7px
                        rgba(255, 41, 0, 0.9), 1.7468388058em 0.2884260335em 7px
                         rgba(0, 255, 31, 0.9), 0.8135326194em 1.5827051185em 7px
                          rgba(255, 44, 0, 0.9), 1.4384528672em 0.6968555805em 7px
                           rgba(0, 220, 255, 0.9), 0.1337612279em 1.7234193289em 7px
                            rgba(255, 0, 113, 0.9), -0.4152413574em 2.1149435787em 7px
                             rgba(0, 240, 255, 0.9), 0.1436362579em 2.1338027702em 7px
                              rgba(0, 184, 255, 0.9), -0.223719065em 0.0540977836em 7px
                               rgba(255, 0, 26, 0.9), 0.1142798223em 2.382607303em 7px
                                rgba(0, 255, 171, 0.9), 1.3661895178em 0.3614138318em 7px
                                 rgba(82, 0, 255, 0.9), -0.1165285769em 0.7196456828em 7px
                                  rgba(0, 255, 212, 0.9), 1.5094472407em 2.1931553647em 7px
                                   rgba(163, 0, 255, 0.9), 0.2383456666em 0.5616639709em 7px
                                    rgba(0, 255, 134, 0.9), 2.2740038157em -0.404299655em 7px
                                     rgba(0, 26, 255, 0.9), 0.9041503132em 2.3398550057em 7px
                                      rgba(0, 255, 247, 0.9), 2.2462499384em 0.3037335208em 7px
                                       rgba(147, 255, 0, 0.9), -0.2559156088em 1.4476008019em 7px
                                        rgba(0, 39, 255, 0.9), 0.290968867em 1.516474114em 7px
                                         rgba(122, 255, 0, 0.9), 1.684079649em 0.2193719556em 7px
                                          rgba(255, 26, 0, 0.9), 0.8216274818em 0.612390816em 7px
                                           rgba(255, 242, 0, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

#bgr_body::after {
  text-shadow: 0.5031751371em 0.7937515848em 7px
   rgba(255, 0, 207, 0.5), 0.0342200825em 1.2387539362em 7px
    rgba(175, 255, 0, 0.9), -0.0705928082em 0.1957861742em 7px
     rgba(0, 255, 230, 0.9), 0.6230599127em 1.563109605em 7px
      rgba(255, 0, 211, 0.9), 2.4666646368em -0.3656259174em 7px
       rgba(0, 227, 255, 0.9), -0.3212681404em 1.7341854125em 7px
        rgba(255, 0, 167, 0.9), 1.8609192052em 0.5988886738em 7px
         rgba(0, 154, 255, 0.9), -0.2350543055em 0.9446374137em 7px
          rgba(0, 184, 255, 0.9), 0.8583648848em 1.8599788639em 7px
           rgba(0, 255, 44, 0.9), 2.3154137367em 1.8940440577em 7px
            rgba(0, 255, 29, 0.9), 1.8521969452em 2.1172342197em 7px
             rgba(255, 181, 0, 0.9), -0.3327963997em 0.3203777085em 7px
              rgba(0, 255, 161, 0.9), 1.1216309315em 1.0847572643em 7px
               rgba(74, 0, 255, 0.9), 2.432268425em 0.8139120003em 7px
                rgba(19, 255, 0, 0.9), 1.6349377317em 0.3653831527em 7px
                 rgba(221, 255, 0, 0.9), 1.3890582966em 0.103823055em 7px
                  rgba(95, 255, 0, 0.9), 1.0861224924em 1.3356177935em 7px
                   rgba(255, 0, 176, 0.9), 0.7751128938em 0.3268505755em 7px
                    rgba(0, 255, 127, 0.9), 1.5424343976em 0.1070346707em 7px
                     rgba(255, 0, 30, 0.9), 2.0280743072em 0.3892765287em 7px
                      rgba(255, 75, 0, 0.9), 0.4672779152em 1.243317053em 7px
                       rgba(255, 0, 141, 0.9), 1.7264000493em 1.493026852em 7px
                        rgba(255, 0, 106, 0.9), 2.4850896819em 1.4295764102em 7px
                         rgba(255, 0, 196, 0.9), 0.0504426958em 0.1368267939em 7px
                          rgba(87, 0, 255, 0.9), 0.4309717716em -0.1624225678em 7px
                           rgba(0, 248, 255, 0.9), -0.2872165817em 0.2474314004em 7px
                            rgba(0, 255, 141, 0.9), 0.4470965917em 1.10630621em 7px
                             rgba(0, 26, 255, 0.9), 1.3702684727em 1.3911474691em 7px
                              rgba(31, 255, 0, 0.9), -0.1995393361em 1.7603706849em 7px
                               rgba(0, 255, 222, 0.9), -0.2805936362em 1.6062932697em 7px
                                rgba(0, 240, 255, 0.9), 1.5276454485em 2.1225216169em 7px
                                 rgba(0, 85, 255, 0.9), 1.5342716923em 0.1849110287em 7px
                                  rgba(188, 0, 255, 0.9), -0.0972007857em -0.1254544618em 7px
                                   rgba(255, 0, 128, 0.9), 1.3202884544em 1.2659352674em 7px
                                    rgba(69, 0, 255, 0.9), 2.3684143408em -0.0753682609em 7px
                                     rgba(224, 0, 255, 0.9), 1.9583873085em -0.4744764514em 7px
                                      rgba(255, 0, 31, 0.9), 0.0851649472em 0.5882056688em 7px
                                       rgba(255, 101, 0, 0.9), 2.4489978733em 0.8845944219em 7px
                                        rgba(255, 0, 125, 0.9), 0.575985948em 0.5558050575em 7px
                                         rgba(0, 109, 255, 0.9), 1.5709280188em 1.1787819819em 7px
                                          rgba(0, 225, 255, 0.9), 0.8060113413em 0.0829358788em 7px
                                           rgba(255, 106, 0, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

/* head::before {
  text-shadow: 1.6611338763em 1.8838892623em 7px
   rgba(0, 225, 255, 0.9), 1.5333425606em 0.034005649em 7px
    rgba(255, 194, 0, 0.9), 0.5764442694em 0.8091100735em 7px
     rgba(229, 0, 255, 0.9), 0.2254014649em 0.5146581171em 7px
      rgba(255, 0, 235, 0.9), 2.0349730268em 1.2684814643em 7px
       rgba(0, 146, 255, 0.9), 1.1787150663em -0.47366424em 7px
        rgba(0, 255, 166, 0.9), 1.2224348362em 0.3729562744em 7px
         rgba(0, 255, 75, 0.9), 0.1391979862em 1.0939112447em 7px
          rgba(0, 253, 255, 0.9), 1.6691223476em 1.5341950349em 7px
           rgba(0, 255, 250, 0.9), 1.7598791381em 1.080171665em 7px
            rgba(255, 0, 4, 0.9), 1.734434883em 2.076970793em 7px
             rgba(255, 121, 0, 0.9), 1.2024121413em 0.1471750843em 7px
              rgba(255, 0, 196, 0.9), -0.0876247024em 1.8282351121em 7px
               rgba(73, 0, 255, 0.9), 1.2233947115em 1.4290652891em 7px
                rgba(175, 255, 0, 0.9), 1.5835024752em 2.2348233618em 7px
                 rgba(255, 0, 176, 0.9), -0.2677628645em 2.4719373158em 7px
                  rgba(0, 27, 255, 0.9), 0.1803274327em 0.7750098495em 7px
                   rgba(0, 255, 160, 0.9), 1.7395281695em 0.7915353643em 7px
                    rgba(0, 255, 104, 0.9), 2.3048116823em 0.1358486707em 7px
                     rgba(24, 0, 255, 0.9), -0.0465794528em 0.9308805271em 7px
                      rgba(255, 0, 201, 0.9), 1.1690450302em 0.356467282em 7px
                       rgba(136, 0, 255, 0.9), 0.9735509015em 1.0937164656em 7px
                        rgba(0, 255, 217, 0.9), 1.1090348239em 1.7679587101em 7px
                         rgba(22, 255, 0, 0.9), -0.4508681612em -0.0333888123em 7px
                          rgba(255, 0, 230, 0.9), 1.5440844226em 1.6387418826em 7px
                           rgba(239, 255, 0, 0.9), 1.6999403691em 0.2701637177em 7px
                            rgba(0, 158, 255, 0.9), -0.2828427207em 1.832119324em 7px
                             rgba(0, 255, 41, 0.9), 0.2205903469em 1.4890349334em 7px
                              rgba(4, 255, 0, 0.9), 0.5486241493em 0.7866976411em 7px
                               rgba(255, 252, 0, 0.9), -0.4182740733em -0.4669933868em 7px
                                rgba(255, 134, 0, 0.9), 1.4920593761em -0.1769019457em 7px
                                 rgba(255, 0, 132, 0.9), 1.9985997034em -0.4680819832em 7px
                                  rgba(0, 109, 255, 0.9), -0.1159142041em -0.2086024428em 7px
                                   rgba(255, 37, 0, 0.9), 1.320475439em 0.6250985268em 7px
                                    rgba(3, 255, 0, 0.9), 0.6481719015em -0.3648151476em 7px
                                     rgba(21, 255, 0, 0.9), 2.4781119737em 0.6650900123em 7px
                                      rgba(255, 0, 228, 0.9), 0.6813449391em 0.4131358652em 7px
                                       rgba(255, 25, 0, 0.9), 0.560142783em 2.3902610516em 7px
                                        rgba(166, 0, 255, 0.9), 1.5613958674em 2.3138967515em 7px
                                         rgba(0, 255, 41, 0.9), 0.2504824123em 2.0738577054em 7px
                                          rgba(241, 0, 255, 0.9), 2.4350973184em 2.1179518561em 7px
                                           rgba(0, 201, 255, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: -0.1224549784em -0.1212561096em 7px
   rgba(145, 255, 0, 0.9), 2.2902755561em 2.097444078em 7px
    rgba(164, 0, 255, 0.9), 1.0051818878em 0.376574534em 7px
     rgba(210, 0, 255, 0.9), 0.0819480586em 1.6018985424em 7px
      rgba(255, 199, 0, 0.9), 2.1095917105em 1.9213317132em 7px
       rgba(112, 0, 255, 0.9), 1.0529839873em 0.7572888098em 7px
        rgba(255, 0, 14, 0.9), 1.1482950819em 0.1741057458em 7px
         rgba(237, 255, 0, 0.9), 0.9912146638em 1.6237201354em 7px
          rgba(207, 255, 0, 0.9), -0.3769278939em 0.6256713907em 7px
           rgba(121, 255, 0, 0.9), 0.8411564799em -0.2332639169em 7px
            rgba(255, 0, 252, 0.9), -0.0249192999em 0.1846090954em 7px
             rgba(201, 255, 0, 0.9), 0.1532177606em 1.4035485924em 7px
              rgba(145, 255, 0, 0.9), 0.5147901019em -0.2640920285em 7px
               rgba(145, 0, 255, 0.9), 1.8336495954em -0.1892460147em 7px
                rgba(0, 255, 231, 0.9), 1.2795362268em 2.3686805206em 7px
                 rgba(57, 0, 255, 0.9), -0.0190880011em 1.1612043617em 7px
                  rgba(158, 255, 0, 0.9), -0.3658817759em 1.9577853235em 7px
                   rgba(0, 255, 177, 0.9), 0.4239240627em 2.4350918917em 7px
                    rgba(0, 105, 255, 0.9), 0.0506104124em 0.3506525745em 7px
                     rgba(0, 238, 255, 0.9), 2.2825190377em 0.8959052908em 7px
                      rgba(41, 255, 0, 0.9), 0.0692248471em -0.4416067076em 7px
                       rgba(0, 255, 188, 0.9), 1.6487071915em 0.4416951813em 7px
                        rgba(0, 119, 255, 0.9), 0.1937948435em -0.4739544321em 7px
                         rgba(255, 62, 0, 0.9), 0.7226303968em 2.1492623688em 7px
                          rgba(0, 255, 237, 0.9), 1.5056916013em 1.0639296743em 7px
                           rgba(0, 197, 255, 0.9), 2.0065900737em 1.5582188199em 7px
                            rgba(0, 255, 242, 0.9), 0.2036424629em -0.1645595916em 7px
                             rgba(0, 255, 164, 0.9), 1.4038301011em 2.2257746079em 7px
                              rgba(255, 123, 0, 0.9), 2.3286272475em 1.5455757241em 7px
                               rgba(0, 255, 245, 0.9), 0.5542613993em 0.6565940152em 7px
                                rgba(100, 255, 0, 0.9), 0.9681222523em 1.4221917212em 7px
                                 rgba(0, 255, 8, 0.9), 0.1606448145em 0.799615741em 7px
                                  rgba(107, 0, 255, 0.9), -0.009472257em 1.6912775706em 7px
                                   rgba(242, 0, 255, 0.9), 0.52306935em 1.4550121313em 7px
                                    rgba(0, 255, 227, 0.9), 0.2605660427em 0.314343348em 7px
                                     rgba(0, 255, 186, 0.9), 0.8589530914em 2.4586324623em 7px
                                      rgba(255, 244, 0, 0.9), -0.4430982539em -0.4978917219em 7px
                                       rgba(0, 71, 255, 0.9), 0.7837588607em 2.047269642em 7px
                                        rgba(255, 0, 37, 0.9), 2.174369014em 0.6406946732em 7px
                                         rgba(218, 0, 255, 0.9), 1.5803703517em 2.1996425143em 7px
                                          rgba(255, 0, 122, 0.9), 1.8399404732em 0.4612202023em 7px
                                           rgba(145, 255, 0, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}
 */
/* 가운데 글자 박힌거 START */
/* html::before {
  content: "DeLight\a A CSS DEMO";
  letter-spacing: 0.5em;
  text-shadow: 0 0 5px #000;
  white-space: pre;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #999;
}

html:first-line {
  font-size: 300%;
  font-style: italic;
  letter-spacing: 0;
  color: #fff;
}
 */
 /* 가운데 글자 박힌거 END */
@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}