@import url(https://fonts.googleapis.com/css?family=Monoton);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);

.main1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -22;
}

.bg {
  background-color: #c2e5fc;
  width: 100%;
  height: 100%;
  background-position: center;
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
}

@media (max-width: 576px) {
  .wrapper_neon h1 {
  font-size: 3rem;
  }
  .masthead2 {
  	margin-top: -5rem;
  	margin-bottom: 2rem;
  }
  
}

.wrapper_neon {
  position: absolute;
  width: auto;
  height: 79%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.wrapper_neon h1 {
  font-size: 6rem;
  margin: 0;
  font-weight: normal;
}

.wrapper_neon h2 {
  font-size: 20px;
  margin: 0;
  font-weight: normal;
  line-height: 10px;
}

.font1 {
  font-family: "Monoton", cursive;
}
@media (max-width: 479px) {
  .wrapper_neon h1 {
  margin-top: 2rem;
  font-size: 3rem;
  }
}
.font2 {
  font-family: "Monoton", cursive;
}

.main1.pink {
  animation: bgNeon-1 3s infinite;
}
.main1.pink .input-text {
  color: #E91E63;
}
.main1.pink .wrapper_neon h1 {
  animation: neon2-1 3s infinite;
}
.main1.pink .wrapper_neon h2 {
  text-shadow: 0 0 10px #E91E63, 0 0 30px #e91ec9;
  color: #E91E63;
}
@keyframes neon2-1 {
  0% {
    color: #E91E63;
    text-shadow: 0 0 10px #E91E63, 1px 1px #f7a9c4, 0 0 280px #e91ec9;
  }
  80% {
    color: #E91E63;
    text-shadow: 0 0 10px #E91E63, 1px 1px #f7a9c4, 0 0 280px #e91ec9;
  }
  81% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }
  94% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }
  95% {
    color: #E91E63;
    text-shadow: 0 0 10px #E91E63, 1px 1px #f7a9c4, 0 0 280px #e91ec9;
  }
  96% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }
  97% {
    color: #E91E63;
    text-shadow: 0 0 10px #E91E63, 1px 1px #f7a9c4, 0 0 280px #e91ec9;
  }
  98% {
    color: #E91E63;
    text-shadow: 0 0 10px #E91E63, 1px 1px #f7a9c4, 0 0 280px #e91ec9;
  }
  99% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }
  100% {
    color: #E91E63;
    text-shadow: 0 0 10px #E91E63, 1px 1px #f7a9c4, 0 0 280px #e91ec9;
  }
}
@keyframes bgNeon-1 {
  0% {
    background-color: #36052e;
  }
  80% {
    background-color: #36052e;
  }
  81% {
    background-color: #111;
  }
  94% {
    background-color: #111;
  }
  95% {
    background-color: #36052e;
  }
  96% {
    background-color: #111;
  }
  97% {
    background-color: #36052e;
  }
  98% {
    background-color: #36052e;
  }
  99% {
    background-color: #111;
  }
  100% {
    background-color: #36052e;
  }
}

.main1.yellow {
  animation: bgNeon-2 3s infinite;
}
.main1.yellow .input-text {
  color: #FFC107;
}
.main1.yellow .wrapper_neon h1 {
  animation: neon2-2 3s infinite;
}
.main1.yellow .wrapper_neon h2 {
  text-shadow: 0 0 10px #FFC107, 0 0 30px #ff4507;
  color: #FFC107;
}
@keyframes neon2-2 {
  0% {
    color: #FFC107;
    text-shadow: 0 0 10px #FFC107, 1px 1px #ffe7a0, 0 0 280px #ff4507;
  }
  80% {
    color: #FFC107;
    text-shadow: 0 0 10px #FFC107, 1px 1px #ffe7a0, 0 0 280px #ff4507;
  }
  81% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }
  94% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }
  95% {
    color: #FFC107;
    text-shadow: 0 0 10px #FFC107, 1px 1px #ffe7a0, 0 0 280px #ff4507;
  }
  96% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }
  97% {
    color: #FFC107;
    text-shadow: 0 0 10px #FFC107, 1px 1px #ffe7a0, 0 0 280px #ff4507;
  }
  98% {
    color: #FFC107;
    text-shadow: 0 0 10px #FFC107, 1px 1px #ffe7a0, 0 0 280px #ff4507;
  }
  99% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }
  100% {
    color: #FFC107;
    text-shadow: 0 0 10px #FFC107, 1px 1px #ffe7a0, 0 0 280px #ff4507;
  }
}
@keyframes bgNeon-2 {
  0% {
    background-color: #3a0f00;
  }
  80% {
    background-color: #3a0f00;
  }
  81% {
    background-color: #111;
  }
  94% {
    background-color: #111;
  }
  95% {
    background-color: #3a0f00;
  }
  96% {
    background-color: #111;
  }
  97% {
    background-color: #3a0f00;
  }
  98% {
    background-color: #3a0f00;
  }
  99% {
    background-color: #111;
  }
  100% {
    background-color: #3a0f00;
  }
}

.main1.green {
  animation: bgNeon-3 3s infinite;
}
.main1.green .input-text {
  color: #8BC34A;
}
.main1.green .wrapper_neon h1 {
  animation: neon2-3 3s infinite;
}
.main1.green .wrapper_neon h2 {
  text-shadow: 0 0 10px #8BC34A, 0 0 30px #c3bf4a;
  color: #8BC34A;
}
@keyframes neon2-3 {
  0% {
    color: #8BC34A;
    text-shadow: 0 0 10px #8BC34A, 1px 1px #d5e9bd, 0 0 280px #c3bf4a;
  }
  80% {
    color: #8BC34A;
    text-shadow: 0 0 10px #8BC34A, 1px 1px #d5e9bd, 0 0 280px #c3bf4a;
  }
  81% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }
  94% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }
  95% {
    color: #8BC34A;
    text-shadow: 0 0 10px #8BC34A, 1px 1px #d5e9bd, 0 0 280px #c3bf4a;
  }
  96% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }
  97% {
    color: #8BC34A;
    text-shadow: 0 0 10px #8BC34A, 1px 1px #d5e9bd, 0 0 280px #c3bf4a;
  }
  98% {
    color: #8BC34A;
    text-shadow: 0 0 10px #8BC34A, 1px 1px #d5e9bd, 0 0 280px #c3bf4a;
  }
  99% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }
  100% {
    color: #8BC34A;
    text-shadow: 0 0 10px #8BC34A, 1px 1px #d5e9bd, 0 0 280px #c3bf4a;
  }
}
@keyframes bgNeon-3 {
  0% {
    background-color: #313010;
  }
  80% {
    background-color: #313010;
  }
  81% {
    background-color: #111;
  }
  94% {
    background-color: #111;
  }
  95% {
    background-color: #313010;
  }
  96% {
    background-color: #111;
  }
  97% {
    background-color: #313010;
  }
  98% {
    background-color: #313010;
  }
  99% {
    background-color: #111;
  }
  100% {
    background-color: #313010;
  }
}

.main1.blue {
  animation: bgNeon-4 3s /* infinite */;
}
.main1.blue .input-text {
  color: #03A9F4;
}
.main1.blue .wrapper_neon h1 {
  animation: neon2-4 3s infinite;
}
.main1.blue .wrapper_neon h2 {
  text-shadow: 0 0 10px #03A9F4, 0 0 30px #03f4c7;
  color: #03A9F4;
}
@keyframes neon2-4 {
  0% {
    color: #03A9F4;
    text-shadow: 0 0 10px #03A9F4, 1px 1px #92dcfe, 0 0 280px #03f4c7;
  }
  80% {
    color: #03A9F4;
    text-shadow: 0 0 10px #03A9F4, 1px 1px #92dcfe, 0 0 280px #03f4c7;
  }
  81% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }
  94% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }
  95% {
    color: #03A9F4;
    text-shadow: 0 0 10px #03A9F4, 1px 1px #92dcfe, 0 0 280px #03f4c7;
  }
  96% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }
  97% {
    color: #03A9F4;
    text-shadow: 0 0 10px #03A9F4, 1px 1px #92dcfe, 0 0 280px #03f4c7;
  }
  98% {
    color: #03A9F4;
    text-shadow: 0 0 10px #03A9F4, 1px 1px #92dcfe, 0 0 280px #03f4c7;
  }
  99% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A;
  }
  100% {
    color: #03A9F4;
    text-shadow: 0 0 10px #03A9F4, 1px 1px #92dcfe, 0 0 280px #03f4c7;
  }
}
@keyframes bgNeon-4 {
  0% {
    background-color: #03A9F4;
  }
  80% {
    background-color: #03A9F4;
  }
  81% {
    background-color: #92dcfe;
  }
  94% {
    background-color: #111;
  }
  95% {
    background-color: #012a23;
  }
  96% {
    background-color: #111;
  }
  97% {
    background-color: #012a23;
  }
  98% {
    background-color: #92dcfe;
  }
  99% {
    background-color: #92dcfe;
  }
  100% {
    background-color: #012a23;
  }
}