<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Sparkling Text Toggle</title>
  <link rel="stylesheet" href="css/sparkling_text.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="colophon">
		<div id="shadow"></div>
		<span class="content italic">안녕하세요?
    주식회사 티라논데요</span>
		<span class="content" id="source">이거 반짝거리는거 효과좀 쓰고싶어요</span>
		<span class="content" id="update">어차피
    제가 다 커스텀 할거에요</span>
	</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.22/paper.js'></script>
  <script  src="js/sparkling_text.js"></script>

</body>
</html>
